body{
    padding:0;
    margin:0;
    font-family:arial;
}

.clearflix::after{
    content: '' ;
    display: block;
    clear: both;
}

/* banner */

.banner{
    background:url("../images/banner.jpg"), rgb(102,102,102);
    color:#fff;
    background-size:cover;
    opacity:0.9;
    background-blend-mode:multiply;
  
}

.banner .title{
    margin-top:20px;
    float:left;
    margin-left:50px;
}

.banner .menu{
    float:right;
    margin-top:20px;
    margin-right:20px;
} 

.banner .menu li{
    float:left;
    list-style:none;
    margin-right:30px;
}

hr{
    width:90%;
}

/* banner text */

.banner-text{
    margin:auto;
    width:100%;
    text-align:center;
}

.banner-text h3{
    margin-top:100px;
    margin-bottom:50px;
    font-size:30px;
    opacity: 0.9;
}

.one{
    float:left;
    width:33%;
}

.one .fa{
    color: #66cc99;
    font-size:20px;
}

.banner button{
   text-align:center;
    margin-top:30px;
    margin-bottom:100px;
    width:130px;
    height:30px;
    border-radius:50px;
    border:2px solid #66cc99;
    background-color:transparent;
    color:#66cc99;
    font-size:10px;
}

/* two-section */

.two-section{
    padding:50px 0;
    width:60%;
   margin:auto;
    text-align:center;
}

.two-section .first{
    float:left;
    width:40%;
    text-align:center;
    margin-left:50px;
}

.two-section .first img{
    border-radius:50%;
}

.two-section .first p{
    font-size:10px;
    color:grey;
    line-height:20px;
}

.two-section .first button{
    text-align:center;
    margin-top:30px;
    margin-bottom:30px;
    width:130px;
    height:30px;
    border-radius:50px;
    border:2px solid #66cc99;
    background-color:transparent;
    color:#66cc99;
    font-size:10px;
}

/* footer */

.footer{
    background-color: #66cc99;
    padding:50px 0;
    color:#fff;
}

.footer .footer-text{
    width:40%;
    margin:auto;
    text-align:center;
}

.footer .alpha{
    float:left;
    text-align:left;
}

.footer .beta{
    text-align:left;
}

.footer .beta input, .beta label{
    margin-left:70px;
 
}

.footer .footer-text label{
    text-align:left;
}

.footer .footer-text textarea{
    width:420px;
    margin-top:20px;
    margin-right:20px;
}

.footer .footer-text .text{
    position:relative;
    top:15px;
    right:185px;
}

.footer button{
    text-align:center;
    margin-top:30px;
    margin-bottom:30px;
    width:130px;
    height:30px;
    border-radius:50px;
    border:2px solid #fff;
    background-color:transparent;
    color:#fff;
    font-size:10px;
}

@media only screen and (max-width:1000px){

    /* banner */

.banner{
   width:100%;
  
}

.banner .title{
    margin-top:10px;
    margin-left:20px;
    font-size:10px;
}

.banner .menu{
    float:right;
    margin-top:10px;
    margin-right:10px;
    font-size:8px;
} 

.banner .menu li{
    float:left;
    list-style:none;
    margin-right:10px;
}

hr{
    width:90%;
}

/* banner text */

.banner-text{
    margin:auto;
    width:100%;
    text-align:center;
}

.banner-text h3{
    margin-top:50px;
    margin-bottom:20px;
    font-size:20px;
    opacity: 0.9;
}

.banner-text .one h4{
    font-size:10
}

.banner-text .one p{
    font-size:8px;
}

.one{
    float:left;
    width:33%;
}

.one .fa{
    color: #66cc99;
    font-size:10px;
}

.banner button{
    margin-top:20px;
    margin-bottom:50px;
    width:80px;
    height:20px;
    font-size:8px;
}

.two-section{
    padding:20px 0;
    width:100%;
   margin:auto;
    text-align:center;
}

.two-section .first{
    float:left;
    width:100%;
    text-align:center;
    margin-left:0;
}

.two-section .first img{
    border-radius:50%;
    width:50%;
}

.two-section .first p{
    font-size:10px;
    color:grey;
    line-height:20px;
}

.two-section .first button{
    margin-top:20px;
    margin-bottom:20px;
    width:90px;
    height:20px;
    border-radius:50px;
    border:2px solid #66cc99;
    font-size:8px;
}

/* footer */

.footer{
    background-color: #66cc99;
    padding:30px 0;
    color:#fff;
}

.footer .footer-text{
    width:100%;
    margin:auto;
    text-align:center;
}

.footer .alpha{
    float:left;
    text-align:left;
}

.footer .beta{
    text-align:left;
}

.footer input{
    width:150px;
}

.footer .beta input, .beta label{
    margin-left:60px;
 
}

.footer .footer-text label{
    text-align:left;
}

.footer .footer-text textarea{
    width:340px;
    margin-top:20px;
    margin-right:20px;
    height:60px;
}

.footer .footer-text .text{
    position:relative;
    top:15px;
    right:150px;
}

.footer button{
    margin-top:20px;
    margin-bottom:20px;
    width:90px;
    height:20px;
    font-size:8px;
}


}




